<section class="card">
  
  <a href="/comment/{{comment_id}}">
    <!-- The card contains the name as the card header -->
    <header>{{title}}</header>
    
    <div class="card-body">
      <p>{{comment-desc}}</p>
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>