<section class="card">
   <a href="/blog/{{comment_id}}">
    <header>{{title}}</header>
    
    <div class="card-body">
      <p>{{comment-desc}}</p>
      <p>By: {{artist}}</p>
    </div>
  </a>
</section>